html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF;
}

body {
  color: #000;
  font-family: 'Open Sans', arial, sans-serif;
  overflow: hidden;
}

#toolbar {
  display: inline-block;
  width: 100%;
}

#terminal {
  font-family: Fixed, monospace;
  font-size: 10px;
  background-color: #888;
  display: block;
  width: 320px;
  height:200px;
  border: 2px solid #666;
  overflow: scroll; /* adds scrollbar */
}

#terminalfocus {
  position: absolute;
  right: 20px;
  bottom: 20px; 
}

.termCursor {
  background-color: #000;
  color: #FFF;
}

#terminal.focus {
 border: 2px solid black;
}
